

pre {
    font-family: "Comic Mono";
}

.marquee {
    display: block;

    margin: 0 auto 5px;
    box-sizing: border-box;
    overflow: hidden;
}

.marquee > div {
    display: inline-block;
    width: max-content;
    padding-left: 100%;

    will-change: transform;
    animation-timing-function: linear;
    animation-name: marquee;
    animation-iteration-count: infinite;
    animation-delay: 0s;
    /* animation-fill-mode: backwards; */
}
.marquee > div:hover {
    animation-play-state: paused;
}
@keyframes marquee {
    0% { transform: translate(0, 0); }
    100% { transform: translate(-100%, 0); }
}

.marquee:nth-child(2n+1) div {
    animation-direction: reverse;
}
.marquee:nth-child(5n+1) div {
    animation-direction: alternate;
}

.stronk {
    font-size: 110%;
    text-decoration: underline;
    font-style: italic;
    font-weight: bolder;
}