body {
    color: white;
    font-family: "Comic Mono", "Comic Sans MS", "Comic Sans", cursive;
    background-color: black;
    min-height: 100vh;
    text-shadow: 1px 1px rgba(0,0,0,0.5);
    font-size: 15px;
    line-height: 1.3;
    margin: 0px;
    padding: 7px;
}

#måne, #trädet, #vänstervarg, #toppvarg, #ylarn {
    display: inline-block;
    position: fixed;
    pointer-events: none;
    object-fit: cover;
    width: 110vw;
    height: 110vh;
    z-index: -1;
}
#toppvarg {
    top: -50vh;
    animation: toppvarg 2s 2s linear 1 forwards;
    left: 0px;
}
@keyframes toppvarg {
    0% { top: -50vh; }
    100% { top: 0vh; }
}
#vänstervarg {
    left: -60vw;
    animation: vänstervarg 2s 3s linear 1 forwards;
    top: 0px;
}
@keyframes vänstervarg {
    0% { left: -60vw; }
    100% { left: 0vw; }
}
#ylarn {
    right: -50vw;
    animation: ylarn 2s 1s linear 1 forwards;
    top: 0px;
}
@keyframes ylarn {
    0% { right: -50vw; }
    100% { right: 0vw; }
}
#trädet {
    bottom: -50vh;
    animation: trädet 2s 2s linear 1 forwards;
    left: 0px;
}
@keyframes trädet {
    0% { bottom: -50vh; }
    100% { bottom: 0vh; }
}

pre {
    font-family: "Comic Mono";
}

.marquee {
    display: block;

    margin: 0 auto 5px;
    box-sizing: border-box;
    overflow: hidden;
}

.marquee > div {
    display: inline-block;
    width: max-content;
    padding-left: 100%;

    will-change: transform;
    animation-timing-function: linear;
    animation-name: marquee;
    animation-iteration-count: infinite;
    animation-delay: 0s;
    /* animation-fill-mode: backwards; */
}
.marquee > div:hover {
    animation-play-state: paused;
}
@keyframes marquee {
    0% { transform: translate(0, 0); }
    100% { transform: translate(-100%, 0); }
}

.marquee:nth-child(2n+1) div {
    animation-direction: reverse;
}
.marquee:nth-child(5n+1) div {
    animation-direction: alternate;
}

.STRONK {
    font-size: 110%;
    text-decoration: underline;
    font-style: italic;
    font-weight: bolder;
}

@keyframes snurrilurr {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(45deg); }
    50% { transform: rotate(0deg); }
    75% { transform: rotate(-45deg); }
    100% { transform: rotate(0deg); }
}
.stjärna {
    height: 1.5em;
    animation: snurrilurr 2s linear infinite;
    animation-delay: 2s;
    position: absolute;
}

@keyframes våbbla {
    0% { transform: rotate(-15deg); }
    100% { transform: rotate(15deg); }
}
.våbblalite {
    display: inline-block;
    animation: våbbla 1s linear infinite alternate;
}
@keyframes illamående {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes skak {
    0% {
        transform: translate(5px, 5px);
    }
    100% {
        transform: translate(-5px, -5px);
    }
}
.stjärna:hover {
    animation: illamående 0.2s infinite alternate;
}

.falanx {
    display: inline-block;
    margin: 0 auto;
    font-size: 20px;
}
.falanx li {
    position: relative;
}

.lag-gan {
    color: #5cefff
}
.lag-lag {
    color: #7033AD;
}
.tostes_fanclub {
    color: #95a5a6;
}
.curse_of_the_gobli_scourge {
    color: #a6ff00;
}
.hot_dog {
    color: #e74c3c;
}
.cool_cat, .arthas {
    color: #3498db;
}
.balanced_os_frog {
    color: #e67e22;
}
.WILDCARD {
    color: #f1c40f;
}
.fabrikör, .aporna, .hommies, .moonslam {
    color: #9b59b6;
}
.träsklover {
    color: #1f8b4c;
}
.yapi-papi, .ghostface_killah {
    color: #992d22;
}
.rövpanna {
    color: #e67e22;
}
.skruven {
    color: #9c00ff;
}
.admin {
    color: #ffffff !important;
}
.yapos {
    color: #11806a;
}
.pugs {
    color: #b1ffef;
}
.gosi {
    color: #580074;
}
.disc_jockey {
    color: #ff60cc;
}
.regndansare {
    color: #3498db;
}
.starbux {
    color: #1a1919;
}
.cowboy {
    color: #c27c0e;
}
.smashing {
    color: #1abc9c;
}
.weebs {
    color: #f573ff;
}
.vovvarna, .jordens_försvarare, .ant_person, .rolig_färg, .rockandstone {
    color: #2ecc71;
}
.barabaras {
    color: #206694;
}
.scrobbl3s {
    color: #ff00a7;
}
.terrans {
    color: #3498db;
}
.slunga_snorre {
    color: #eb6ebb;
}
.onlyfans {
    color: #ff00b4;
}
.the_enforcer {
    color: #992d22;
}
.OwOs {
    color: #d57c02;
}
.sports {
    color: #ff0000;
}
.queens {
    color: #e67e22;
}

.laggannews {
    border:1px dashed #f1c40f;
}

.bg-lag-gan {
    background-color: #5cefff
}
.bg-lag-lag {
    background-color: #7033AD;
}
.bg-tostes_fanclub {
    background-color: #95a5a6;
}
.bg-curse_of_the_gobli_scourge {
    background-color: #a6ff00;
}
.bg-hot_dog {
    background-color: #e74c3c;
}
.bg-cool_cat, .bg-arthas {
    background-color: #3498db;
}
.bg-balanced_os_frog {
    background-color: #e67e22;
}
.bg-WILDCARD {
    background-color: #f1c40f;
}
.bg-fabrikör, .bg-aporna, .bg-hommies, .bg-moonslam {
    background-color: #9b59b6;
}
.bg-träsklover {
    background-color: #1f8b4c;
}
.bg-yapi-papi, .bg-ghostface_killah {
    background-color: #992d22;
}
.bg-rövpanna {
    background-color: #e67e22;
}
.bg-skruven {
    background-color: #9c00ff;
}
.bg-admin {
    background-color: #ffffff !important;
}
.bg-yapos {
    background-color: #11806a;
}
.bg-pugs {
    background-color: #b1ffef;
}
.bg-gosi {
    background-color: #580074;
}
.bg-disc_jockey {
    background-color: #ff60cc;
}
.bg-regndansare {
    background-color: #3498db;
}
.bg-starbux {
    background-color: #1a1919;
}
.bg-cowboy {
    background-color: #c27c0e;
}
.bg-smashing {
    background-color: #1abc9c;
}
.bg-weebs {
    background-color: #f573ff;
}
.bg-vovvarna, .bg-jordens_försvarare, .bg-ant_person, .bg-rolig_färg, .bg-rockandstone {
    background-color: #2ecc71;
}
.bg-barabaras {
    background-color: #206694;
}
.bg-scrobbl3s {
    background-color: #ff00a7;
}
.bg-terrans {
    background-color: #3498db;
}
.bg-slunga_snorre {
    background-color: #eb6ebb;
}
.bg-onlyfans {
    background-color: #ff00b4;
}
.bg-the_enforcer {
    background-color: #992d22;
}
.bg-OwOs {
    background-color: #d57c02;
}
.bg-sports {
    background-color: #ff0000;
}
.bg-queens {
    background-color: #e67e22;
}